In [1]:
import requests
import pandas as pd
import time
import pickle

In [3]:
new_df=pd.read_csv('tmdb_5000_movies.csv')

In [5]:
new_df['id'].head()

0     19995
1       285
2    206647
3     49026
4     49529
Name: id, dtype: int64

In [9]:
api_key = "862bae8cf828e3fa4ea288a97db04982"

# --- Function to fetch reviews for a single movie ---
def fetch_reviews(movie_id):
    url = f"https://api.themoviedb.org/3/movie/{movie_id}/reviews?api_key={api_key}&language=en-US&page=1"
    try:
        response = requests.get(url)
        if response.status_code == 200:
            data = response.json()
            reviews   = [review['content'] for review in data.get('results', [])]
            return reviews
        else:
            print(f"Failed to fetch reviews for Movie ID {movie_id}: {response.status_code}")
            return []
    except Exception as e:
        print(f"Error fetching reviews for Movie ID {movie_id}: {e}")
        return []

# --- List of movie IDs you want to fetch ---
movie_ids = new_df['id']

# --- Create a dataset ---
data = []

for movie_id in movie_ids:
    reviews = fetch_reviews(movie_id)
    data.append({
        "movie_id": movie_id,
        "reviews": reviews
    })
    time.sleep(0.25)  # Sleep to avoid hitting rate limits

Failed to fetch reviews for Movie ID 112430: 404
Failed to fetch reviews for Movie ID 333355: 404
Failed to fetch reviews for Movie ID 153397: 404
Failed to fetch reviews for Movie ID 36597: 404
Failed to fetch reviews for Movie ID 183894: 404
Failed to fetch reviews for Movie ID 395766: 404
Failed to fetch reviews for Movie ID 50942: 404

In [11]:
# --- Convert to DataFrame ---
df = pd.DataFrame(data)

In [13]:
# --- TMDB API key ---

df.to_csv('movie_reviews_dataset.csv', index=False)


print("✅ Dataset created successfully!")
print(df.head())

✅ Dataset created successfully!
   movie_id                                            reviews
0     19995  [Avatar is an overwhelming, immersive spectacl...
1       285  [Part 3 Jack is stuck in Davy Jones locker. Wh...
2    206647  [<a href="http://www.cutprintfilm.com/reviews/...
3     49026  [I felt like this was a tremendous end to Nola...
4     49529  [Totally forgettable and full of stereotypes, ...

In [15]:
# or
df.to_pickle('movie_reviews_dataset.pkl')

In [17]:
df.head()

   movie_id                                            reviews
0     19995  [Avatar is an overwhelming, immersive spectacl...
1       285  [Part 3 Jack is stuck in Davy Jones locker. Wh...
2    206647  [<a href="http://www.cutprintfilm.com/reviews/...
3     49026  [I felt like this was a tremendous end to Nola...
4     49529  [Totally forgettable and full of stereotypes, ...